alertmanager:
  smtpUsername: example
  smtpPassword: example
logging:
  esS3AccessKey: example
  esS3SecretKey: example
# If you are using X-Pack of elastic you must change below values
curator:
  authentication: false
  esUsername: ""
  esPassword: ""
